<form class="mt-5 pb-5">
  <div class="form-row">
    <div class="col-8">
      <input type="text" class="form-control" placeholder="Buscar por Pessoa" (keyup)="onKey($event)">
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-block btn-outline-primary" (click)="buscar()" aria-label="Close">Buscar</button>
    </div>
  </div>
</form>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ pessoa.nome }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul *ngFor="let contatoPessoa of pessoa.contatos; index as i">
      <li>{{ contatoPessoa.tipo }} - {{ contatoPessoa.valor }} </li>
      </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ok</button>
  </div>
</ng-template>

<div *ngIf="loading; else listaPessoas">
  <div class="spinner-border mx-auto" role="status" style="width: 100px; height:100px">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<ng-template #listaPessoas>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Nascimento</th>
        <th>Endereço</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>CEP</th>
        <th>Contato</th>
    </tr>
    </thead>


    <tbody>
      <tr *ngFor="let pessoa of pessoas; index as i">
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.cpf }}</td>
        <td>{{ pessoa.nascimento }}</td>
        <td>{{ pessoa.endereco }}</td>
        <td>{{ pessoa.bairro }}</td>
        <td>{{ pessoa.cidade }}</td>
        <td>{{ pessoa.estado }}</td>
        <td>{{ pessoa.cep }}</td>
        <td>
          <button class="btn btn-outline-primary" (click)="verContato(content,i)">Ver contatos</button>

        </td>

      </tr>
    </tbody>
  </table>

</ng-template>






