<h2>Cadastrar Pessoa</h2>

<hr>
<form class="formulario_cadastro" [formGroup]="cadastro">
    <div class="form-group row">
        <label class="col-sm-2 col-from-label">Nome:</label>
        <div class="col-sm-10">
          <app-input-text titulo="Nome" [formGroup]="cadastro" controlName="nome" ></app-input-text>

        </div>

    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-from-label">CPF:</label>
      <div class="col-sm-10">
        <app-input-text titulo="CPF" [formGroup]="cadastro" controlName="cpf" ></app-input-text>

      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-from-label">Nascimento:</label>
      <div class="col-sm-10">
        <app-input-text titulo="Nascimento" [formGroup]="cadastro" controlName="nascimento" ></app-input-text>

      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-from-label">Endereco:</label>
      <div class="col-sm-10">
        <app-input-text titulo="Endereco" [formGroup]="cadastro" controlName="endereco" ></app-input-text>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-from-label">Bairro:</label>
      <div class="col-sm-10">
        <app-input-text titulo="Bairro" [formGroup]="cadastro" controlName="bairro" ></app-input-text>

      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-from-label">Cidade:</label>
      <div class="col-sm-10">
        <app-input-text titulo="Cidade" [formGroup]="cadastro" controlName="cidade" ></app-input-text>

      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-from-label">Estado:</label>
      <div class="col-sm-10">
        <app-input-text titulo="Estado" [formGroup]="cadastro" controlName="estado" ></app-input-text>

      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-from-label">CEP:</label>
      <div class="col-sm-10">
        <app-input-text titulo="CEP" [formGroup]="cadastro" controlName="cep" ></app-input-text>

      </div>
    </div>


    <button type="submit" (click)="salvar()" class="btn btn-primary mr-2">Salvar</button>
    <button type="reset" (click)="resetar()" class="btn btn-secundary">Limpar</button>
</form>
