
@import "bootstrap/dist/css/bootstrap.min.css";

html{
  margin:0;
  padding:0;
  height: 100%;
}
body{
  margin:0;
  padding:0;
  background-color:#F3F3F3;
  color:#5B5B5B;
  height: 100%;
  }




  table th{
    color:#5B5B5B;
  }

  table td{
    color:#5B5B5B;
  }

  .msg-error{
    color: crimson;
    font-size: 12px;
  }

  .red{
    color: crimson;
  }
